<!-- <mat-toolbar class="header" color="primary">
  <div class="header__brand">
    <h1 class="header__brand-title">{{ title }}</h1>
    <mat-icon class="header__brand-icon">rocket</mat-icon>
  </div>
  <span class="header__spacer"></span>
  <button
    mat-icon-button
    class="header__favorite favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="sidenav">
  <mat-drawer class="sidenav__container" mode="side" opened
    ><mat-nav-list class="sidenav__list">
      <mat-list-item class="sidenav__item" *ngFor="let link of links">
        <a
          matLine
          class="sidenav__link"
          [routerLink]="link.href"
          routerLinkActive="sidenav__link--active"
          >{{ link.title }}</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav__content"
    ><router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container> -->
<home></home>
<router-outlet></router-outlet>
