@import "../styles.scss";

.sidenav {
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav__container {
    min-width: 200px;

    .sidenav__list {
      height: calc(100% - 64px);

      .sidenav__item--active {
        color: $light-primary;
      }
    }
  }

  .sidenav__content {
    padding: 20px;
  }
}
