//OPTEI POR COLOCAR O CÓDIGO DE SASS TODO EM UM LUGAR SÓ PORQUE EM CADA COMPONENTE O MATERIAL ANGULAR NÃO ESTAVA DEIXANDO ALGUNS ESTILOS PERSONALIZADOS CARREGAREM, NÃO CONSIGO IDENTIFICAR O PORQUÊ DISSO

//Font Raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//THEME
$light-primary: #8a2be2;
$light-secondary: #00eeff;
$light-danger: #dc143c;
$light-warning: #ffa500;
$light-info: #00bfff;
$light-success: #3efdbd;
$light-text-primary: #070707;
$light-text-secondary: #605966;
$light-text-disabled: #cbc7cf;
$light-default: #fff;

// ROOT
@mixin fontFamily() {
  font-family: Raleway, Arial, "Helvetica Neue", sans-serif !important;
}
@mixin fontConfig() {
  font-size: 16px;
  color: $light-text-primary;
}

html,
body {
  height: 100%;
  @include fontConfig();
}

body {
  margin: 0;
}

p {
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @include fontFamily();
}

// COMPONENT TOOLBAR
.header {
  .header__brand {
    display: flex;
    flex-direction: row;

    .header__brand-logo {
      margin-right: 8px;
      width: 36px;
      height: 36px;

      path {
        fill: $light-default;
      }
    }

    .header__brand-content {
      line-height: 0;
      font-size: 0;

      .header__content-title {
        display: block;
        text-transform: capitalize;
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-bottom: 8px;
      }

      .header__content-subtitle {
        margin-top: 0;
        font-size: 0.7rem;
      }

      .header__content-link {
        color: $light-default;

        &:hover {
          color: $light-secondary;
          text-decoration: underline;
        }
      }
    }
  }

  .header__spacer {
    flex: 1 1 auto;
  }
}
