//OPTEI POR COLOCAR O CÓDIGO DE SASS TODO EM UM LUGAR SÓ PORQUE EM CADA COMPONENTE O MATERIAL ANGULAR NÃO ESTAVA DEIXANDO ALGUNS ESTILOS PERSONALIZADOS CARREGAREM, NÃO CONSIGO IDENTIFICAR O PORQUÊ DISSO

//Fonts

// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//THEME

$light-primary: #8a2be2;
$light-primary-blur: #892be215;
$light-secondary: #00eeff;
$light-danger: #dc143c;
$light-warning: #ffa500;
$light-info: #00bfff;
$light-success: #3efdbd;
$light-text-primary: #070707;
$light-text-secondary: #605966;
$light-text-disabled: #cbc7cf;
$light-default: #fff;

// ROOT

@mixin fontFamily() {
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif !important;
}
@mixin fontConfig() {
  font-size: 16px;
  color: $light-text-primary;
}

html,
body {
  height: 100%;
  @include fontConfig();
}

body {
  margin: 0;
}

p {
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @include fontFamily();
}

// COMPONENT TOOLBAR

.header {
  .header__brand {
    display: flex;
    flex-direction: row;

    .header__brand-logo {
      margin-right: 12px;
      width: 36px;
      height: 36px;

      path {
        fill: $light-default;
      }
    }

    .header__brand-content {
      line-height: 0;
      font-size: 0;

      .header__content-title {
        display: block;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-bottom: 12px;
        letter-spacing: 2px;
      }

      .header__content-subtitle {
        margin-top: 0;
        font-size: 0.7rem;
      }

      .header__content-link {
        color: $light-default;

        &:hover {
          color: $light-secondary;
          text-decoration: underline;
        }
      }
    }
  }

  .header__spacer {
    flex: 1 1 auto;
  }
}

// SIDENAV

.sidenav {
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav__container {
    min-width: 200px;

    .sidenav__list {
      height: calc(100% - 64px);

      .sidenav__item--active {
        color: $light-primary;
      }
    }
  }

  .sidenav__content {
    padding: 20px;
  }
}

//FORM

mat-form-field {
  width: 100%;
  margin-bottom: 12px;

  // &:focus-visible,
  // &:focus,
  // &:current > .mat-icon {
  //   color: $light-primary !important;
  // }

  &.mat-form-field-invalid {
    .mat-icon {
      color: $light-danger;
    }
  }

  // &.ng-valid > * {
  //   color: $light-success;
  //   border-color: $light-success;
  // }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $light-primary-blur;
}

//LOGIN

fieldset {
  border-width: 4px;
  border-color: $light-primary;
  border-style: solid;
  padding: 24px;

  legend {
    @include fontFamily();
    @include fontConfig();
    font-weight: bold;
    padding: 0 12px;
    color: $light-primary;
  }
}

// ALERT

.mat-snack-bar-container {
  max-width: 100% !important;

  &.success {
    background-color: $light-success;
    color: $light-text-primary;

    .action-button {
      background-color: $light-default;
      color: $light-success;
    }
  }

  &.danger {
    background-color: $light-danger;
    color: $light-default;

    .action-button {
      background-color: $light-default;
      color: $light-danger;
    }
  }

  &.info {
    background-color: $light-info;
    color: $light-default;

    .action-button {
      background-color: $light-default;
      color: $light-info;
    }
  }

  .app-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .message {
      margin: 0;
    }
  }
}
